h3 span.year {
    color: black;
    font-size: 18px;
}

h3 span.desc {
    color: grey;
    font-size: 16px;
}

h3 a {
    text-decoration: none;
}

p.intro {
    margin-bottom: 50px;
}

.toc a {
    color: #00008b;
}

code {
    font-size: 14px;
    font-weight: bold;
    max-width: 100%;
    color: #292951;
    background-color: #dfd9fd;
    padding: 20px 25px;
    white-space: pre-wrap;
    border: #9b9bfd solid;
    border-width: 4px 0 4px 0;
    margin: 30px 0 40px 0;
}

.articles li, .books li {
    font-size: 16px;
    font-family: sans-serif;
    list-style: square;
}

li.gem {
    list-style-image: url('../img/gem.png');
    font-size: 16px;
    font-family: sans-serif;
}

.contributors {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    color: #be2622;
}

@media print {

    h3 span {
        color: black;
        font-size: 10pt;
    }

    ul.articles li {
        font-size: 8pt;
    }
}

.ruler {
    font-family: Lusitana, serif;
    border: solid #be2622;
    border-width: 1px 0 0 0;
}