a.system-header {
    display: block;
    text-decoration: none;
}

a.system-header h2 {
    display: inline;
}

a.system-header span {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    display: inline;
    color: black;
    font-size: 18px;
    margin-left: 10px;
}

div.desc {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    color: grey;
    font-size: 16px;
    margin-bottom: 10px;
}

span.functions {
    color: #3430be !important;
}

p.intro {
    margin-bottom: 50px;
}

.toc a {
    color: #2b4238;
}

.articles li, .books li {
    font-size: 16px;
    font-family: sans-serif;
    list-style: square;
}

li.gem {
    list-style-image: url('../img/gem.png');
    font-size: 16px;
    font-family: sans-serif;
}

.contributors {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    color: #be2622;
}

@media print {

    h3 span {
        color: black;
        font-size: 10pt;
    }

    ul.articles li {
        font-size: 8pt;
    }
}

.ruler {
    font-family: Lusitana, serif;
    border: solid #be2622;
    border-width: 1px 0 0 0;
    margin-bottom: 30px;
}