h3 span.year {
    color: black;
    font-size: 18px;
}

h3 span.desc {
    color: grey;
    font-size: 16px;
}

ul li {
    font-size: 16px;
    font-family: sans-serif;
    list-style: square;
}

.contributors {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    color: #be2622;
}

li.gem {
    list-style-image: url('../img/gem.png');
}

@media print {

    h3 span {
        color: black;
        font-size: 10pt;
    }

    ul.articles li {
        font-size: 8pt;
    }
}

.ruler {
    font-family: Lusitana, serif;
    max-width: 40em;
    border: solid #be2622;
    border-width: 1px 0 0 0;
}