/* CHARACTERISTICS */
table.characteristics td {
    vertical-align: top;
    padding: 0 10px 0 10px;
}

dl.characteristics {
    font-family: Oswald, sans-serif;
    background-color: #FFF;
    padding: 10px;
}

dl.characteristics dt {
    color: #A68F81;
}

dl.characteristics dd {
    color: #343240;
}