/* https://kuler.adobe.com/nyc-evening-color-theme-4333556/edit/ */

/* BODY */

html {
    margin: 0 0 0 0;
    padding: 0;
}

body {
	color: #343240;
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5 {
    font-family: Oswald, Helvetica, Arial, sans-serif;
}

h2 {
    color: #5f445f;
    font-size: 30px;
}

h3 {
    color: #9c231f;
    font-size: 24px;
}

h4 {
    color: #68978c;
    font-size: 20px;
}

h5 {
    color: #72aa9f;
    font-size: 18px;
}

a {
	color: #5F445F;
}

a:visited {
    color: #8B668B;
}

/* HEADER */

div.header {
    background-color: #ffdbfd;
    border-bottom: 5px solid #343240;
}

div.header h1 {
    font-family: 'Domine', serif;
    font-size: 40px;
    color: #343240;
    margin: 0;
    padding-top: 5px;
}

a.backButton {
    display: block;
    margin: 8px 10px 30px 10px;
    float: left;
}

img.homeImage {
    display: block;
    margin: 5px 16px 30px 10px;
    float: left;
}

/* LINK BAR */

div.linkBar {
    font-family: Oswald, sans-serif;
    font-size: 40px;
    display: block;
    overflow: auto;
    padding-bottom: 10px;
}

div.linkBar div {
    display: inline-block;
    margin-right: 30px;
}

div.linkBar div a {
    font-size: 40px;
    padding: 5px;
}

/* TEXT-PAGE */

div.textPage {
    margin: 20px;
    font-size: 20px;
}

code {
    display: block;
    font-family: monospace;
    max-width: 100%;
    overflow: hidden;
    background-color: #fdefff
}

p, li {
    font-family: Lusitana, serif;
    max-width: 40em;
}

p.story {
    padding: 10px 10px 10px 10px;
}

p, li, code {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* MISC */

.hidden {
	display: none;
}

