/* https://kuler.adobe.com/nyc-evening-color-theme-4333556/edit/ */

/* BODY */

html {
    margin: 0 0 0 0;
    padding: 0;
}

body {
	color: #343240;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: Oswald, Helvetica, Arial, sans-serif;
}

a {
	color: #5F445F;
}

p, li {
    font-family: Lusitana, serif;
    font-size: 20px;
    font-weight: 500;
}

p {
    line-height: 30px;
}

li {
    line-height: 30px;
}

a:visited {
	color: #8B668B;
}

/* TEXT-PAGE */

div.textPage {
    margin: 20px;
    bottom: 0;
    max-width: 700px;
    overflow: visible;
}

p.story {
    padding: 20px 10px 20px 10px;
}

/* HEADER */

a.backButton {
	display: block;
	margin: 8px 10px 30px 10px;
	float: left;
}

img.homeImage {
    display: block;
    margin: 5px 10px 30px 10px;
    float: left;
}

/* PAGE */

div.header {
	background-color: #ffdbfd;
	border-bottom: 5px solid #343240;
}

div.header h1 {
	font-family: 'Domine', serif;
	font-size: 40px;
	color: #343240;
	margin: 0;
    padding-top: 5px;
}

div.header h3 {
	font-family: 'Domine', serif;
	font-size: 18px;
	color: #8B668B;
	margin: 0 0 5px 10px;
}

/* LINK BAR */

div.linkBar {
    font-family: Oswald, sans-serif;
    display: block;
    overflow: auto;
    padding-bottom: 10px;
}

div.linkBar div {
    display: inline-block;
    margin-right: 30px;
}

div.linkBar div a {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

/* MISC */

.hidden {
	display: none;
}

