/* SYSTEM NAMES */

div.systemNames {
    position: fixed;
    font-family: sans-serif;
   	top: 100px;
   	left: 0;
    white-space: nowrap;
	overflow: hidden;
    margin: 0 20px 0 20px;
}

div.systemNames div {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 300px;
    min-width: 300px;
    padding: 10px 10px 10px 10px;
}

/* BODY */

div.body {
    position: absolute;
    font-family: sans-serif;
    margin: 20px;
   	top: 130px;
   	bottom: 0;
   	left: 0;
    right: 0;
	overflow: auto;
}

h2 {
    margin-bottom: 0;
}

/* DATAFLOW */

table.dataflow thead th {
    display: none;
}

table.dataflow td {
    width: 300px;
    min-width: 300px;
}

/* CHARACTERISTICS */

table.characteristics dl {
    margin: 0;
    width: 280px;
    min-width: 280px;
}
