
/** table.dataflow */

table.dataflow caption {
	text-align: left;
	font-weight: bold;
}

table.dataflow th {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

table.dataflow td.sideHeader {
	font-weight: bold;
	text-align: left;
}

table.dataflow td {
	padding: 10px;
	text-align: center;
	vertical-align: top;
}

table.dataflow {
	border-spacing: 0;
}

table.dataflow td {
    font-family: Oswald, sans-serif;
}

table.dataflow td {
	background-image: url(../img/arrows.png);
	background-position: center;
	background-repeat: repeat-y;
}

table.dataflow ul {
	text-align: left;
	padding-left: 20px;
}

table.dataflow div.gsProcessContent ul {
}

table.dataflow div.gsDataStoreInside ul {
}

table.dataflow dl {
	text-align: left;
	color: #A68F81;
	margin-top: 10px;
}

table.dataflow dd {
	margin-left: 10px;
	color: #343240;
}


/* Gane & Sarson data flow style */

div.gsExternalBelow {
	background-color: #666;
	border: 1px solid #343240;
	position: relative;
	margin: 0 10px 10px 0;
}
div.gsExternalAbove {
    background-color: #BF2A61;
	border: 1px solid #343240;
	padding: 5px;
	position: relative;
	left: 10px;
	top: 10px;
}

div.gsDataStoreOutside {
    background-color: #BF2A61;
	border: 1px solid #343240;
	border-right: 0;
}

div.gsDataStoreInside {
	background-color: #FFF;
	border-left: 1px solid #343240;
	margin-left: 20px;
	padding: 5px;
}

div.gsProcessOutside {
    background-color: #F2E852;
	border: 1px solid #343240;
	border-radius: 5px;
}

div.gsProcessContent {
	border-top: 1px solid #343240;
	padding: 5px;
}