div.textPage {
    position: absolute;
    font-family: sans-serif;
    margin: 20px;
    top: 100px;
    bottom: 0;
    width: 700px;
    left: 0;
    overflow: auto;
}

/* LINK BAR */

div.linkPanel {
    position: absolute;
    background-color: #8BCCC1;
    margin: 20px;
    padding: 10px;
    left: 740px;
    width: 310px;
    top: 100px;
    bottom: 0;
    overflow: auto;
}

div.linkBar a {
    display: block;
    font-size: 30px;
    background-color: #E6EDE4;
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
    border-bottom: 5px solid #343240;
}