/* FILTERBAR */

div.filterbar {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	width: 420px;
	margin: 20px;
	overflow: auto;
}

h2.filter {
	font-size: 16px;
	cursor: pointer;
	color: #343240;
	background-color: #F39B7C;
	padding: 5px 10px 0 10px;
	border-bottom: 5px solid #343240;
	margin: 0 10px 10px 0;
}

h3.filter {
	font-size: 16px;
	cursor: pointer;
	color: #343240;
	background-color: #F39B7C;
	padding: 5px 10px 0 10px;
	border-bottom: 5px solid #343240;
	margin: 0 10px 10px 10px;
}

div.filter {
	margin-bottom: 10px;
}

div.filter div.filter {
	margin-left: 10px;
}

div.filter h4 {
	margin: 5px 0 0 10px;
}

h2.filter {
	background-color: #F26057;
}

.greyedOut {
	color: #bbb;
}

/* RESULTSET */

div.resultset {
	position: absolute;
	background-color: #8BCCC1;
	left: 450px;
	right: 0;
	top: 100px;
	bottom: 0;
	margin: 20px 20px 20px 0;
	overflow: auto;
	padding: 10px;
}

table.system {
	border-spacing: 0;
	width: 100%;
}

table.system tr.empty td {
	height: 10px;
	padding: 0;
}

table.system tr.used td {
	background-color: #E6EDE4;
	vertical-align: top;
	text-align: left;
	border-bottom: 5px solid #343240;
	padding: 10px;
}

table.system tr.unused td {
	background-color: #e0e0e0;
	vertical-align: top;
	text-align: left;
	border-bottom: 5px solid #808080;
	padding: 10px;
}

table.system tr.unused td a {
	color: #c0c0c0;
}

table.system tr.unused td {
	color: #c0c0c0;
}

table.system tr.unused td.gem img {
	visibility: hidden;
}

table.system td.gem {
	width: 41px;
}

table.system td.systemName {
	font-size: 30px;
	font-weight: bold;
	width: 150px;
}

table.system td.systemDescription {
}

div.select {
	font-size: 12px;
}

/* Select and compare */

table.system td.select {
	width: 20px;
}

div.buttonHead {
	text-align: right;
}

button.compare {
	font-family: Oswald, sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 2px 10px 2px 10px;
}

/* Clear */

button.clear {
	font-family: Oswald, sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

/* Help */

input.help {
	font-family: sans-serif;
	font-weight: bold;
}

input.help {
	padding: 0 2px 0 2px;
	position: relative;
	top: -2px;
}

div.help-popup {
	font-family: sans-serif;
	font-weight: normal;
	z-index: 100;
	position: fixed;
	visibility: hidden;
	width: 500px;
	padding: 15px;
	background-color: #F1E7D9;
	border:  2px outset #fff;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
}

div.help-popup header {
	font-family: Oswald, sans-serif;
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 1px solid #343240;
	margin-bottom: 15px;
}

div.help-popup dt {
	font-weight: bold;
}

table.example caption {
	text-align: left;
	font-weight: bold;
}

table.example td {
	vertical-align: top;
}
table.example td.name {
	color: #808080;
	padding-right: 5px;
	font-style: italic;
}