li {
    list-style: square;
}

.toc {
    font-family: Oswald, Helvetica, Arial, sans-serif;
}

.toc a.level1 {
    color: #362536;
}

.toc .level2 {
    color: #9c231f;
}

.toc .level3 {
    color: #00008b;
}

.toc .level4 {
    color: #5F445F;
}

@media only screen and (min-width: 1100px) {
    .toc {
        position: fixed;
        top: 160px;
        bottom: 0;
        right: 0;
        width: 400px;
        overflow: scroll;
        padding-bottom: 30px;
    }
    div.textPage {
        margin: 0 20px 0 20px;
        position: fixed;
        left: 0;
        right: 400px;
        top: 140px;
        bottom: 0;
        overflow: scroll;
        padding-right: 15px;
    }

    div.textPage .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 60em;
    }

    p, li, blockquote, code {
        max-width: inherit;
    }
}

@media print {
    .toc {
        display: none;
    }
}