li {
    list-style: square;
}

blockquote {
    border: solid #cb050b;
    border-width: 4px 0 4px 0;
    color: #cb050b;
}

code {
    display: block;
    font-size: 14px;
    font-weight: bold;
    max-width: 100%;
    width: 100% !important;
    color: #292951;
    background-color: #aaefe4;
    border: solid #68978c;
    padding: 20px 25px;
    white-space: pre-wrap;
    border-width: 4px 0 4px 0;
    margin: 30px 0 40px 0;
}
