/* TEXT-PAGE */

div.textPage {
    position: absolute;
    font-family: sans-serif;
    margin: 20px;
   	top: 100px;
   	bottom: 0;
   	width: 800px;
   	left: 0;
	overflow: auto;
}

/* IMAGE BAR */

div.imagePanel {
	position: absolute;
    background-color: #8BCCC1;
    margin: 20px;
    padding: 10px 0 0 10px;
    left: 840px;
	width: 480px;
	top: 100px;
	bottom: 0;
	overflow: auto;
}

div.imagePanel.thin {
	width: 240px;
}

div.imageBar div.imageContainer {
    float: left;
    background-color: #E6EDE4;
    width: 220px;
    padding: 5px;
    margin: 0 10px 10px 0;
    border-bottom: 5px solid #343240;
    text-align: center;
}

div.imageContainer img {
    height: 150px;
}

div.imageBar div.imageDescription
{
    font-size: 18px;
}

/* CHARACTERISTICS */

dl.characteristics {
    margin-right: 20px;
}

/* ARTICLES */
ul.articles {
    background-color: #FFF;
    margin: 0 20px 0 0;
    padding: 10px 10px 10px 30px;
}