
/* TIME TABLE */

ul.yearList {
	list-style: none;
	padding: 0;
    margin: auto;
	background-color: #E6EDE4;
    max-width: 60em;
}

ul.yearList h2 {
	padding-top: 10px;
	padding-left: 5px;
	color: #343240;
	background-color: #8BCCC1;
	border-bottom: 5px solid #343240;
	margin: 0;
}

ul.yearList ul li {
	list-style: square;
    margin: 30px 0 30px 0;
}
